<!DOCTYPE html>
<html lang="en" xmlns:bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template>
    <div class="container">
        <div class="header__inner">
            <a href="/" title="zurück zur Startseite" class="logo">
                <picture>
                    <img bind:src="logoUrl"/>
                </picture>
            </a>
            <nav>
                <ul class="nav-meta__controller">
                    <li class="nav-meta__controller-item"></li>
                    <li class="nav-meta__controller-item"></li>
                    <li class="nav-meta__controller-item"></li>
                    <li class="nav-meta__controller-item nav-meta__donation-item"></li>
                    <li class="nav-meta__controller-item"></li>
                </ul>
            </nav>
        </div>
    </div>
</template>
</body>
</html>