<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="on-loading-complete" data-loading="2" data-loaded="2" data-status="100">
  <template>
      <noscript>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <p><strong>JavaScript scheint in Ihrem Browser deaktiviert zu sein.</strong></p>
                      <p>Sie müssen JavaScript in Ihrem Browser aktivieren um alle Funktionen der Seite nutzen zu können.</p>
                  </div>
              </div>
          </div>
      </noscript>
      <kkh-header logo="/sysc/img/kkh-logo.svg"></kkh-header>
  </template>
</body>
</html>